package main

import (
	"fmt"
	"log"
	"time"

	"{{ .ModuleName }}/internal/routes"
{{ if eq .Framework "gin" }}
	"github.com/gin-gonic/gin"
{{ else if eq .Framework "echo" }}
	"github.com/labstack/echo/v4"
{{ else if eq .Framework "fiber" }}
	"github.com/gofiber/fiber/v2"
{{ else if eq .Framework "nethttp" }}
	"net/http"
{{ end }}
)

const serverPort = 8080

func main() {
	bootStart := time.Now()
	addr := fmt.Sprintf(":%d", serverPort)

{{ if eq .Framework "gin" }}
	gin.SetMode(gin.ReleaseMode)
	app := gin.New()
	app.Use(gin.Recovery())
	routes.RegisterGinRoutes(app)
	renderStartupBlock("{{ .Framework }}", serverPort, time.Since(bootStart))
	if err := app.Run(addr); err != nil {
		log.Fatal(err)
	}
{{ else if eq .Framework "echo" }}
	app := echo.New()
	routes.RegisterEchoRoutes(app)
	renderStartupBlock("{{ .Framework }}", serverPort, time.Since(bootStart))
	if err := app.Start(addr); err != nil {
		log.Fatal(err)
	}
{{ else if eq .Framework "fiber" }}
	app := fiber.New()
	routes.RegisterFiberRoutes(app)
	renderStartupBlock("{{ .Framework }}", serverPort, time.Since(bootStart))
	if err := app.Listen(addr); err != nil {
		log.Fatal(err)
	}
{{ else if eq .Framework "nethttp" }}
	mux := routes.RegisterNetHTTPRoutes()
	renderStartupBlock("{{ .Framework }}", serverPort, time.Since(bootStart))
	if err := http.ListenAndServe(addr, mux); err != nil {
		log.Fatal(err)
	}
{{ end }}
}
