package routes

import "github.com/gofiber/fiber/v2"

func RegisterFiberRoutes(app *fiber.App, welcomeHTML []byte, imagePath string) {
	app.Get("/", func(c *fiber.Ctx) error {
		c.Type("html", "utf-8")
		return c.Status(fiber.StatusOK).Send(welcomeHTML)
	})
	app.Get("/lalibela2.webp", func(c *fiber.Ctx) error {
		return c.SendFile(imagePath)
	})

	app.Get("/health", func(c *fiber.Ctx) error {
		return c.JSON(fiber.Map{"status": "ok"})
	})

	// Example user route
	app.Get("/user/:id", func(c *fiber.Ctx) error {
		id := c.Params("id")
		return c.JSON(fiber.Map{
			"user_id": id,
			"name":    "John Doe",
		})
	})
}
