package routes

import "github.com/gin-gonic/gin"

func RegisterGinRoutes(r *gin.Engine) {
	r.GET("/", func(c *gin.Context) {
		c.File("templates/index.html")
	})
	r.StaticFile("/lalibela2.webp", "templates/lalibela2.webp")

	r.GET("/health", func(c *gin.Context) {
		c.JSON(200, gin.H{
			"status": "ok",
		})
	})

	// Example user route
	r.GET("/user/:id", func(c *gin.Context) {
		id := c.Param("id")
		c.JSON(200, gin.H{
			"user_id": id,
			"name":    "John Doe",
		})
	})
}
