package routes

import (
	"net/http"

	"github.com/gin-gonic/gin"
)

func RegisterGinRoutes(r *gin.Engine, welcomeHTML []byte, imagePath string) {
	r.GET("/", func(c *gin.Context) {
		c.Data(http.StatusOK, "text/html; charset=utf-8", welcomeHTML)
	})
	r.GET("/lalibela2.webp", func(c *gin.Context) {
		c.File(imagePath)
	})

	r.GET("/health", func(c *gin.Context) {
		c.JSON(200, gin.H{
			"status": "ok",
		})
	})

	// Example user route
	r.GET("/user/:id", func(c *gin.Context) {
		id := c.Param("id")
		c.JSON(200, gin.H{
			"user_id": id,
			"name":    "John Doe",
		})
	})
}
